@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.home {
    width: 900px;       
    height: 700px;
    background-image: url('../img_home/background_table.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    border-radius: 10px;
}

.username-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    position:absolute;
    top: 380px;
    left:600px;
    font-size: 100%;
    z-index: 2;
}

.save {
    padding: 10px;
    border: 1px solid #4285f4;
    border-radius: 5px;
    background-color: #4285f4;
    position:absolute;
    top:430px;
    left:680px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
    font-family: 'Press Start 2P', cursive;
}

/* Aggiungi stile al bottone al passaggio del mouse */
.save:hover {
    background-color: #357ae8;
}
h1{
    position:absolute;
    top:250px;
    left:540px;
    color: #fff;
    font-family: 'Press Start 2P', cursive;

}
.back-button{
    width: 60px;
    height: 60px; 
    position: absolute; 
    top: 40px; 
    right: 1080px; 
    background-color: #f71e1e; 
    border-radius: 50%; 
    z-index: 2; 
    overflow: hidden;
    }
    
    .image-backbutton{
    width: 60px; 
    height: 60px; 
    display: block;
    background-image: url('../img_home/back-button.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index:2;
    }
    .alert {
        position: absolute;
        top:320px;
        left:610px;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.35rem;
      }
      .alert-warning {
        color: #806520;
        background-color: #fdf3d8;
        border-color: #fceec9;
      }