body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.home{
    width: 900px;       
    height: 700px;
    background-image: url('../img_home/background_table.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    border-radius:10px;
}

h1{
    color: white;
    text-align: center;
    margin-top: 150px;
}
#p1{
    color:white;
    text-align: center;
    position:absolute;
    top:280px;
    left:647px;
    font-size: 30px;
    margin: 0px;
}

#p2{
    color:white;
    text-align: center;
    position:absolute;
    top:400px;
    left:647px;
    font-size: 30px;
    margin: 0px;

}
#userList{
    position:absolute;
    top: 330px;
    left:620px;
    font-size: 20px;
    width: 200px; 
}

#userList2{
    position:absolute;
    top: 450px;
    left:620px;
    font-size: 20px;
    width: 200px;  
}

#select{
    position:absolute;
    top: 500px;
    left:620px;
    width: 200px;
    height: 100px;
    background-color: #ffda1f; /* Colore di sfondo per il pulsante */
    border-radius: 10px; /* Bordo arrotondato */
    z-index: 2;
}
.button-text {
    display: block; /* Rendi il testo un blocco per poter applicare stili aggiuntivi */
    text-align: center; /* Centra il testo all'interno del blocco */
    margin-top: 10px; /* Esempio: sposta il testo verso il basso di 10 pixel rispetto al bordo superiore del pulsante */
    color: white; /* Colore del testo */
    font-size: 30px; /* Dimensione del testo */
    font-family: Arial, sans-serif; /* Famiglia di caratteri */
}

.alert {
    position: absolute;
    top:220px;
    left:580px;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.35rem;
  }
  .alert-warning {
    color: #806520;
    background-color: #fdf3d8;
    border-color: #fceec9;
  }
  .back-button{
    width: 60px; /* Diametro del bottone circolare */
    height: 60px; /* Diametro del bottone circolare */
    position: absolute; /* Posizionamento assoluto rispetto al suo contenitore principale (body) */
    top: 40px; /* Esempio: sposta il bottone circolare verso il basso di 120 pixel rispetto all'angolo superiore del body */
    right: 1080px; /* Esempio: sposta il bottone circolare verso destra di 20 pixel rispetto all'angolo sinistro del body */
    background-color: #ffda1f; /* Colore di sfondo per il bottone circolare */
    border-radius: 50%; /* Bordo arrotondato per ottenere la forma circolare */
    z-index: 2; /* Posiziona il bottone circolare sopra la home */
    overflow: hidden; 
    }
    
    .image-backbutton{
        width: 60px; /* Fai in modo che l'immagine riempia completamente il suo contenitore */
        height: 60px; /* Imposta l'altezza in modo proporzionale alla larghezza */
        display: block;
        background-image: url('../img_home/back-button.png');
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute; /* Abilita il posizionamento relativo all'interno del suo contenitore */
        /* Modifica le seguenti linee per spostare l'icona */
        top: 50%; /* Sposta l'immagine verso il basso del 50% dell'altezza del suo contenitore */
        left: 50%; /* Sposta l'immagine verso destra del 50% della larghezza del suo contenitore */
        transform: translate(-50%, -50%); 
        z-index:2;
    }