@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.gameboard {
    width: 62%;       
    height: 95%;
    background-image: url('../img_home/background_table.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    z-index: 1;
}

.gridcard {
    display: grid;
    grid-template-columns: repeat(8, 13%);
    position: absolute;
    top:10%;
    margin-left:3%;
    z-index: 1; /* Posiziona la griglia sopra la game board */
}

.card_game {
    width: 100px;
    height: 150px;
    background-image: url('../img_card/back_card.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    
    
}

.card_game:hover {
    transform: translateY(-10px);
}

.score{
    width: 16.3%;
    height:92.5%;
    display: flex;
    background-color: #ffffff;
    position: absolute;
    left: 1.3%;
    padding: 0.7%;
   
}

.turn{
    position: absolute;
    bottom: 30%;
    left:42%;
    font-size: 400%;
    color: #000000;
    font-family: 'Press Start 2P', cursive;
  }

.time{
    color:black;
    z-index: 2;
    font-size: 200%;
    position: absolute;
    top:30%;
    left:25%;
    font-family: 'Press Start 2P', cursive;
  }

#title_turno{
    position:absolute;
    top:45%;
    left:15%;
    font-family: 'Press Start 2P', cursive;
    z-index: 2;
}

#title_time{
    position:absolute;
    top:20%;
    left:15%;
    font-family: 'Press Start 2P', cursive;
    z-index: 2;
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .card_game{
        width: 70px;
        height: 105px;
    }
    #title_time{
        font-size:120%;
    }
    #title_turno{
        font-size:120%;
    }
    .time{
        font-size:150%;
        left:20%;
    }
    .turn{
        font-size: 200%;
        left:35%;
        bottom: 45%;
    }
}

@media screen and (min-width:310px) and (max-width:475px) {
    .gameboard{
        width:100%;
        height:100%;
    }
    .gridcard{
        grid-template-columns: repeat(4, 35%);
        margin-left: 4%;
    }
    .card_game{
        width: 70px;
        height: 90px;
    }
    #title_time{
        font-size:120%;
    }
    #title_turno{
        font-size:120%;
    }
    .time{
        font-size:150%;
        left:20%;
    }
    .turn{
        font-size: 200%;
        left:35%;
        bottom: 45%;
    }
    .score{
        display: none;
    }
}
