@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
.gameinfo{
    justify-content: left;
    align-items: left;
    height: 100vh;
}

.gameboard {
    width: 900px;
    height: 700px;
    background-image: url('../img_home/background_table.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    z-index: 1;
}

.gridcard {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    gap: 10px;
    position: absolute;
    z-index: 2; /* Posiziona la griglia sopra la game board */
}

.card {
    width: 100px;
    height: 150px;
    background-image: url('../img_card/back_card.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    
    
}

.card:hover {
    transform: translateY(-10px);
}

.score{
    width: 230px;
    height:680px;
    display: flex;
    background-color: #ffffff;
    position: absolute;
    left: 20px;
    padding: 10px;
   
}

.turn{
    position: absolute;
    bottom: 30%;
    left:42%;
    font-size: 400%;
    color: #000000;
    font-family: 'Press Start 2P', cursive;
  }

.time{
    color:black;
    z-index: 2;
    font-size: 200%;
    position: absolute;
    top:30%;
    left:25%;
    font-family: 'Press Start 2P', cursive;
  }

#title_turno{
    position:absolute;
    top:45%;
    left:15%;
    font-family: 'Press Start 2P', cursive;
    z-index: 2;
}

#title_time{
    position:absolute;
    top:20%;
    left:15%;
    font-family: 'Press Start 2P', cursive;
    z-index: 2;
}